<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<h1>Messages</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr class="column_titles">
    	<th>Message ID</th>
    	<th>Written Date</th>
    	<th>Product Code</th>
    	<th>Refills Quantity</th>
    	<th>Patient Zipcode</th>
    	<th>Patient Gender</th>
    	<th>Patient DOB</th>
    	<th>Prescriber LastName</th>
    	<th>Prescriber Zipcode</th>
    	<th>Pharmacy Zipcode</th>
    </tr>
  </thead>
  <tbody>
    {% for message in allMessages %}
      <tr>
      	<td>{{ message.messageID }}</td>
      	<td>{{ message.writtenDate }}</td>
      	<td>{{ message.productCode }}</td>
      	<td>{{ message.refillsQuantity }}</td>
      	<td>{{ message.patientZipcode }}</td>
      	<td>{{ message.patientGender }}</td>
      	<td>{{ message.patientDob }}</td>
      	<td>{{ message.prescriberLastName }}</td>
      	<td>{{ message.prescriberZipcode }}</td>
      	<td>{{ message.pharmacyZipcode }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>