body {
  min-width: 1310px;
}

.nav {
  letter-spacing: 3px;
}

.mainTitle {
  font-family: helvetica;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 7px;
  margin-top: 8px;
}

.mainTitle a {
  color: #4FD5D6;
}

.span6 #aboutSection {
  font-size: 14px;
  line-height: 150%;
}

#header #zipSearch {
  top: 78px;
  left: 500px;
  position: absolute;
}

#header #zipSearch i.icon-search {
  position: static;
  margin-left: -5px;
}

#searchInstructions {
  color: #606060;
  position: absolute;
  
  /* BEWARE HARDCODING */
  left: 20px;
  top: 85px;
}

#timeSlider {
  margin-left: 20px;
  margin-top: -50px;
}

#timeSlider p {
  text-align: center;
  text-transform: uppercase;
  font-family: helvetica;
  letter-spacing: 4px;
  /* BEWARE HARDCODING */
  margin-left: 20px;
}

.header-bottom {
  border-bottom: 1px solid #ccc;
}

.container {
  margin-top: 50px;
}

.tracking {
  float: center;
}

.divider {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.iconTitles {
  font-family: "franklin-gothic-urw", helvetica, ariel;
  color: #4FD5D6;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.iconBlurbs {
/*  color: #606060; */
  color: #999;
}

#header #zipSearchBox {
  padding: 18px;
  margin-bottom: 1px;
}

#logIn {
  text-transform: uppercase;
  padding: 24px 12px 10px 12px;
  position: absolute;
  right: 15px;
  font-family: "franklin-gothic-urw",helvetica,arial,sans-serif;
  font-color: gray;
  font-weight: 500;
  letter-spacing: 1px;
}