.topStats {
    position: absolute;
    width: 300px;
    height: 480px;
    top: 185px;
    left: 20px;
    background-color: #f6f6f6;
    padding: 10px;
}

.box {
    border: 5px #fff solid;
    margin-top: 10px;
    font-size: 20px;
    width: 188px;
    font-family: helvetica;
    color: rgb(66, 146, 198);
}
.counties {
  fill: none;
}

.counties .active {
	fill: orange;
	stroke: white;
	stroke-width: 0.5;
	stroke-linejoin: round;
}

.us-map {
  padding-left: 100px;
  padding-top: 10px;
}

button {
    font-family: helvetica;
}

.states {
  fill: none;
  stroke: #ddd;
  stroke-linejoin: round;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  /*fill: none;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
.q9-9 { fill:rgb(8,40,84); }