{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css">
    <div class="topStats">
    	<h3>Top Statistics</h3>
    	<div id="topStatisticsTable"></div>
    </div>
    <div id="interactiveMap"></div>
    <div id="statistics"></div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/homepageHelper.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/homepageMap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/homepageStatistics.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>
{% endblock %}