{% extends "base.html" %}

{% block content %}

<style type="text/css">
.loginclass {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.loginclass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.loginclass:active {
	position:relative;
	top:1px;
}</style>

<div class="container">
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<input placeholder="First and Last Name" type="text" id="">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<input placeholder="Username" type="text" id="">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<input placeholder="Email" type="email" id="">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<input placeholder="Password" type="password" id="">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<input placeholder="Re-enter Password" type="password" id="">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span3 offset1">
			<a href="#" class="loginclass">Sign Up</a>
		</div>
	</div>
</div>
{% endblock %} 