{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/team.css">
<div class="container">
	<div class="jumbotron">
	    <h1>Outfluenza Team</h1>
	    <p class="lead">Over the past few decades, the world has witnessed a revolution in information technology. With developments such as personal computers, smartphones, and tablets, technology is being used to obtain, disseminate, and share information as never before. Moreover, advances in data analytics have given us powerful tools to organize the information available to us and draw meaningful conclusions from them. Most importantly, technology and data have become essential to public health by creating efficiency in medicine.
	    </p>

	    <p class="lead">E-prescriptions allows patients to obtain quicker access to the medicines and pharmaceuticals, and telemedicine has optimized medical appointments through videoconferencing and teleconferencing thereby reducing the number of face-to-face interactions needed. This not only creates efficiency, but also enables bringing modern medicine to people who wouldn’t have had access to it otherwise. Mobile devices, for example, can be used in remote villages to call for help in the event of a difficult labor or procedure.</p>

	    <p class="lead">Handheld devices are often used by healthcare workers to collect and collate survey data, and to transfer data to a central location in real time. Databases and big data storage allows to store millions of data points about patients and their heartbeat, blood content, condition, etc. We intend on using all the data that is collected and conduct statistical analysis and evaluate and compare the effectiveness of different treatments, as well as follow the spread of influenza across populations. We aim to leverage machine learning and other tools to analyze different trends and predict outbreaks before they happen.</p>
	</div>
	<div class="centered container">
		<div class="row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-5">
		          <img class="img-circle" src="https://2.gravatar.com/avatar/582ba2938d5eeceb1d600b30b6600da3?d=https%3A%2F%2Fidenticons.github.com%2F824e357cdb710c044554ff18d875998a.png" alt="140x140" style="width: 140px; height: 140px;">
		          <h2>Ranjay Krishna</h2>
		          <p>Ranjay Krishna graduated from Cornell University with a double major in Electrical and Computer Engineering and Computer Science in May 2013. He will be continuing his education in Computer Science as a graduate student at Stanford University. His work focuses on Systems, Programming Languages and Machine Learning, including the interdependence between the three through reinforcement learning algorithms in systems scheduling and cache eviction policies and load balancing in distributed systems. Over the course of the past four years, he has worked for Google Adwords and Microsoft Office Exchange as a Software Developer Engineer. He has also worked for the Government of India in the Ministry of Finance as an analyst for Inflation Targeting in India. Additionally, he has worked for the startup Infogain as well as co-founded Peer Finder and Motistic.</p>
		          <p><a class="btn btn-default" href="http://www.ranjaykrishna.com">View details »</a></p>
		    </div>
		    <div class="col-lg-4">
		          <img class="img-circle" src="https://0.gravatar.com/avatar/50afa0785a161e26e26caa02d4e9294b?d=https%3A%2F%2Fidenticons.github.com%2F4db748c861e30091188abf080918a817.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
		          <h2>Janie Gu</h2>
		          <p>Janie Gu is entering her third year as an undergraduate student at Princeton University with a major in Operations Research and Financial Engineering, and minors in Computer Science, Engineering Management, and Finance. Her interests lie in the fields of statistical analysis, machine learning, and optimization models. She is an analyst for the Princeton Analytics Group, an organization that provides volunteer consulting to nonprofit organizations, and runs speaker series for the Princeton Entrepreneurship Club. She is currently a software engineer on the Google Adwords front-end team, and in the past, has interned at Bell Labs, Princeton Plasma Physics Lab, and consulting startup Ideas42.</p>
		          <p><a class="btn btn-default" href="http://www.janiegu.com">View details »</a></p>
		    </div>
		</div>
	</div>
</div>
{% endblock %}