{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span5 offset1">
			<img src="{{ STATIC_URL }}img/disease.jpg"></img>
		</div>
		<div class="span6">
			<p id="aboutSection">Over the past few decades, the world has witnessed a revolution in information technology.	With developments such as personal computers, smartphones, and tablets, technology is being used to obtain, disseminate, and share information quicker and better than ever before. Moreover, advances in data analytics have given us powerful tools to organize the information available to us and draw meaningful conclusions. The Outfluenza team seeks to apply these technology and data solutions to building a powerful analytical engine that tracks the spread of influenza in real-time, provides beautiful visualizations to represent the data, and predicts outbreaks before they occur.
			</p>
		</div>
	</div>
</div>
<section id="speakers">
	<div class="container">
		<h2 class="section-heading">Team Members</h2>
		<div class="row-fluid">
			<div class="span2">
				<div class="bio-pic">
					<img src="{{ STATIC_URL }}img/ranjay.jpeg">
				</div>
			</div>
			<div class="span4">
				<h4><a href="http://www.ranjaykrishna.com">Ranjay Krishna</a></h4>
				<div class="title">Technical Lead, Back-End Developer</div>
				<p>Ranjay graduated from Cornell in May 2013 with a double major in Electrical and Computer Engineering and Computer Science, and will be continuing his studies at Stanford University. His passions lie in the fields of systems, programming languages, and machine learning. Ranjay is currently working at 10gen in NYC, and has previously worked for Google, Microsoft, Infogain as well as co-founded Peer Finder and Motistic.</p>
			</div>
			<div class="span2">
			<div class="bio-pic"><img src="{{ STATIC_URL }}img/janie.jpg"></div>
			</div>
			<div class="span4">
				<h4><a href="http://www.janiegu.com">Janie Gu</a></h4>
				<div class="title">Design Lead, Front-End Developer</div>
				<p>Janie is currently pursuing a degree in Operations Research and Financial Engineering at Princeton University, with minors in Computer Science and Engineering Management. Janie is excited about technology, business, and markets, and her passion is for innovative companies that can help to solve the world's most important problems, like poverty and inequality. Before Outfluenza, she interned at Google, Bell Labs, and Princeton Plasma Physics Lab.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}