<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<h1>Zipcodes</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr class="column_titles">
      <th>Zipcode</th>
      <th>State</th>
    	<th>County</th>
      <th>Male Patient Cases</th>
    	<th>Female Patient Cases</th>
    </tr>
  </thead>
  <tbody>
    {% for zipcode in allZipcodes %}
      <tr>
        <td>{{ zipcode.zipcode }}</td>
        <td>{{ zipcode.state }}</td>
      	<td>{{ zipcode.county }}</td>
      	<td>{{ zipcode.malePatientCases }}</td>
        <td>{{ zipcode.femalePatientCases }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>